/* Header VBox */
.header-vbox {
    -fx-background-color: #282828;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Apply custom font */
}

/* Header Label */
.header-label {
    -fx-text-fill: #00ff00;
    -fx-border-radius: 5px;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Apply custom font */
}

.shticell-label{
    -fx-text-fill: #00ff00;
    -fx-border-radius: 5px;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Apply custom font */
    -fx-font-size: 30px;
}

/* Header TextField */
.header-text-field {
    -fx-background-color: #404040;
    -fx-text-fill: #00ff00;
    -fx-border-color: #ff00ff;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Apply custom font */
}

/* Header MenuButton */
.header-menu-button {
    -fx-background-color: #404040;
    -fx-text-fill: #00ff00;
    -fx-border-color: #ff00ff;
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif; /* Apply custom font */
}

.header-menu-button .text {
    -fx-font-size: 14px;
    -fx-fill: #00ff00;
}

